doctype html
html
    head
        title index page
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href='css/fonts.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed', rel='stylesheet')
        link(href='plugins/chosen/chosen.css', rel='stylesheet')
        link(href='css/main.css', rel='stylesheet')
        link(href='css/responsive.css', rel='stylesheet')
    body
        header.header
            .header-logo
            .menu-toggle
            .header-filter
                form(action="")
                    select
                        option Organisasjoner
                        option Birkenes IL
                        option Birkebeiner rittet
                        option SolaBMX
                        option Rye20 BLA
                        option RR
                        option Oppdal
                        option Narvik
                        option Kvam IL
                        option Hammerfest SK
                        option Hadeland CK
                        option Grenland
                        option N.C.F
                        option HERO
                        option Ullensaker CK
                    select
                        option Nivå
                        option Elite
                        option Tur & Trim
                        option Turips
                        option Masters
                    select
                        option Regions
                        option Utlandet
                        option Region Øst
                        option Region Vest
                        option Region TeVeBu
                        option Region Innlandet
                        option Region Midt
                        option Region Nord
                    select
                        option Terminlister
                        option Landevei
                        option Terreng
                        option Utfor
                        option Bmx
                        option Sykkelcross
                        option Trial
                        option Parasykling
                        option Bane
                        option Klubbtrening
                    select
                        option Kurs-møter
                        option Arrangement kurs
                        option Kommissær kurs
                        option Fellesmote
                        option Forbundsting ncf
                        option Uci kongress
                        option Uce kongress
                        option Nordisk kongress
                        option Trenerkurs
                        option Massør kurs
                    select
                        option Landslag
                        option Terminlister
                        option Treningssamlinger
                        option Pressekonferanser
                    button Apply
        section.events-row
            .event
                .event-week 36 Week
                .event-day 5 September
                .event-item
                    .event-box
                        .event-item--img
                            .middle-helper
                            img(src="img/brand2.png", alt="")
                        .event-item--type 
                            span SYKKELCROSS
                    .event-description To mila
                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
                
                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
                 .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
            .event
                .event-week 36 Week
                .event-day 6 September

                .event-item
                    .event-box
                        .event-item--img
                            .middle-helper
                            img(src="img/brand2.png", alt="")
                        .event-item--type 
                            span SYKKELCROSS
                    .event-description To mila

                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
            .event
                .event-week 36 Week
                .event-day 7 September

                .event-item
                    .event-box
                        .event-item--img
                            .middle-helper
                            img(src="img/brand2.png", alt="")
                        .event-item--type 
                            span SYKKELCROSS
                    .event-description To mila

                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
            .event
                .event-week.active 36 Week
                .event-day 8 September
                .event-item
                    .event-box
                        .event-item--img
                            .middle-helper
                            img(src="img/brand2.png", alt="")
                        .event-item--type 
                            span SYKKELCROSS
                    .event-description To mila

                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
                
                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
            .event
                .event-week 36 Week
                .event-day 9 September

                .event-item
                    .event-box
                        .event-item--img
                            .middle-helper
                            img(src="img/brand2.png", alt="")
                        .event-item--type 
                            span SYKKELCROSS
                    .event-description To mila

                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
            .event
                .event-week 36 Week
                .event-day 10 September

                .event-item
                    .event-box
                        .event-item--img
                            .middle-helper
                            img(src="img/brand2.png", alt="")
                        .event-item--type 
                            span SYKKELCROSS
                    .event-description To mila

                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description.text-transform Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description.text-transform Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
            .event
                .event-week 36 Week
                .event-day 11 September
                .event-item
                    .event-box
                        .event-item--img
                            .middle-helper
                            img(src="img/brand2.png", alt="")
                        .event-item--type 
                            span SYKKELCROSS
                    .event-description To mila

                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
                
                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
            .event
                .event-week 36 Week
                .event-day 12 September

                .event-item
                    .event-box
                        .event-item--img
                            .middle-helper
                            img(src="img/brand2.png", alt="")
                        .event-item--type 
                            span SYKKELCROSS
                    .event-description To mila

                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
            .event
                .event-week 36 Week
                .event-day 13 September
                .event-item
                    .event-box
                        .event-item--img
                            .middle-helper
                            img(src="img/brand2.png", alt="")
                        .event-item--type 
                            span SYKKELCROSS
                    .event-description To mila

                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
                
                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
            .event
                .event-week 36 Week
                .event-day 14 September

                .event-item
                    .event-box
                        .event-item--img
                            .middle-helper
                            img(src="img/brand2.png", alt="")
                        .event-item--type 
                            span SYKKELCROSS
                    .event-description To mila

                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
            .event
                .event-week 36 Week
                .event-day 15 September

                .event-item
                    .event-box
                        .event-item--img
                            .middle-helper
                            img(src="img/brand2.png", alt="")
                        .event-item--type 
                            span SYKKELCROSS
                    .event-description To mila

                .event-item
                    .event-box.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Treningssamlinger
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00

                .event-item
                    .event-box.redblue.lowercase
                        .event-item--img
                            .middle-helper
                            img(src="img/brand.png", alt="")
                        .event-item--type 
                            span Kommissær kurs
                    .event-description Race of Heroes 00
            
        footer
            i.icon.icon-calendar
            i.icon.icon-plus-squared
            i.icon.icon-logout
        i.icon.icon-calendar
        i.icon.icon-plus-squared
        i.icon.icon-logout
        .calendar
            header
                h2 September 
                    span 2016
                a.btn-prev.fontawesome-angle-left(href='#')
                    i.fa.fa-chevron-left
                a.btn-next.fontawesome-angle-right(href='#')
                    i.fa.fa-chevron-right
            table
                thead
                    tr
                        td Mo
                        td Tu
                        td We
                        td Th
                        td Fr
                        td Sa
                        td Su
                tbody
                    tr
                        td.prev-month 26
                        td.prev-month 27
                        td.prev-month 28
                        td.prev-month 29
                        td.prev-month 30
                        td.prev-month 31
                        td.prev-month 1
                    tr
                        td.prev-month 2
                        td.prev-month 3
                        td.prev-month 4
                        td.prev-month 5
                        td.prev-month 6
                        td.prev-month 7
                        td.prev-month 8
                    tr
                        td.prev-month 9
                        td.event 10
                        td.prev-month 11
                        td.prev-month 12
                        td.prev-month 13
                        td.prev-month 14
                        td.prev-month 15
                    tr
                        td.prev-month 16
                        td.prev-month 17
                        td.prev-month 18
                        td.prev-month 19
                        td.prev-month 20
                        td.event 21
                        td.prev-month 22
                    tr
                        td.current-day.event 23
                        td.prev-month 24
                        td.prev-month 25
                        td.prev-month 26
                        td.prev-month 27
                        td.prev-month 28
                        td.prev-month 29
                    tr
                        td.prev-month 30
                        td.next-month 1
                        td.next-month 2
                        td.next-month 3
                        td.next-month 4
                        td.next-month 5
                        td.next-month 6
            .switch
                a(href="#") Switch to Compact Mode
        .overlay
        .overlay-calendar
        .popup-wrapper
          .popup.login
            .popup--header
              .close ✕
              .popup--right-column
                h1.sub-section Login
            .popup--content
              .popup--right-column.no-padding--bottom
                .popup--content-scroller(style='height: 252px;')
                  form#form-login.forms(name='form-login', autocomplete='off')
                    .form-loader
                    .form-errors   
                    label
                        span(name='localised') Login navn
                    input.u-full-width(type='text', name='login_name')
                    label
                      i1-8n
                        span(name='localised') Passord
                    input.u-full-width(type='password', name='password')
                    button.u-full-width.button-primary(type='submit') Login
        .popup-wrapper
          .popup.add-event
            .popup--header
              .close ✕
              .popup--right-column
                h1.sub-section Opprett event
            .popup--content
              .popup--right-column.no-padding--bottom
                .popup--content-scroller
                  form#form-login.forms(name='form-login', autocomplete='off')
                    fieldset
                        legent Informasjon
                        label
                            span(name='localised') Tittel
                        input.u-full-width(type='text', name='login_name')
                        .clearfix
                            .col-1
                                label
                                    span(name='localised') Kategori
                                input.u-full-width(type='text', name='login_name', placeholder="Velg kategori")
                            .col-2
                                label
                                    span(name='localised') Organisasjon
                                input.u-full-width(type='text', name='login_name', placeholder="Velg organisasjon")
                        .clearfix
                            .col-1
                                label
                                    span(name='localised') Nivå
                                input.u-full-width(type='text', name='login_name', placeholder="Velg nivå")
                            .col-2
                                label
                                    span(name='localised') Region
                                input.u-full-width(type='text', name='login_name', placeholder="Velg region")
                        label
                            span(name='localised') Nivå
                        textarea

                    fieldset
                        legent Tid, sted og kart
                        .clearfix
                            .col-1
                                label
                                    span(name='localised') Kategori
                                input.u-full-width(type='text', name='login_name', placeholder="Velg kategori")
                            .col-2
                                label
                                    span(name='localised') Organisasjon
                                input.u-full-width(type='text', name='login_name', placeholder="Velg organisasjon")
                        label 
                        img(src="img/map.png", alt="", class="img-responsive")
                        label
                        input.u-full-width(type='text', name='login_name', placeholder="Enter a location")
                        label
                            span(name='localised') Posisjonsbeskrivelse 
                            small (valgfri)
                        textarea

                    fieldset
                        legent Faner
                        label FANE  1
                        .pull-right
                            .close-group ✕
                        .clearfix
                            .col-1
                                label
                                    span(name='localised') Fane tittel
                                input.u-full-width(type='text', name='login_name', placeholder="")
                            .col-2
                                label
                                    span(name='localised') Fane kort tittel
                                input.u-full-width(type='text', name='login_name', placeholder="")
                        label
                            span(name='localised') Fane beskrivelse
                        textarea
                        button Add FANE
                    button LAGRE
        .popup-wrapper
            .popup.event-inner
                //- .close ✕
                .popup--header
                    .popup--left-column
                        img(src="img/content2.png", alt="")
                    .popup--right-column
                        h1.sub-section TERMINLISTER
                .popup--content
                    .popup--left-column
                        .popup--sidebar
                            p Ipsa repellendus itaque nemo atque expedita aut voluptatem. Voluptatem aspernatur cum iste explicabo aut quod placeat est qui. Velit et rem quod nihil. Ea itaque magni reiciendis quisquam. Reiciendis tempore perferendis rem unde corporis quae.
                            ul.popup-tab--switcher
                              li.active Informasjon
                              li Tid, sted og kart
                    .popup--right-column
                        h2 Event name
                        p Ipsa repellendus itaque nemo atque expedita aut voluptatem. Voluptatem aspernatur cum iste explicabo aut quod placeat est qui.
            
                    .popup--footer
                        button.popup--event-print
                            i.icon-print
                            span Utskrift
                        .social-buttons
                            .fa.fa-facebook
                            .fa.fa-linkedin
                            .fa.fa-twitter
                            .fa.fa-google-plus





        script(src="http://code.jquery.com/jquery-3.1.1.min.js")
        script(src="https://use.fontawesome.com/3b6dab9f9b.js")
        script(src="plugins/chosen/chosen.jquery.min.js" )
        script(src="js/main.js" )



